#searchsubmit {
	display: inline-block;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#searchsubmit:hover {
    background-color: #1e88e5  ;
    border-color: #219bf3;
}
.mammal_types_drop {
    padding-left:  0.5em;
    padding-right: 0.5em;
}
.form-control {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select:disabled{
    color: #bbb;
    background-color: #ebebeb;
}
select:focus{
    box-shadow: 0 0 5px #23bde9;
    border: 1px solid #23bde9;
}
h4.cos_bio_results {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.25;
    padding-top: 1.15em;
    margin-bottom: 0.75em;
}
h3.cos_bio_search {
    clear:both;
}
.mammal_header { padding-top: 0; }

.cos-mammal-class-info {
    margin: 0 0.5em 0 0;
    padding-right: 0.5em;
    border-right: 1px solid #333333;
} 

.gallery-item {
    margin-bottom: 1em;
}
.group_results.one_half {
    float: left;
    width: 100%;
    max-width: 50%;
}
@media screen and (max-width: 460px){
    .group_results.one_half {
        clear: both;
        float: none;
        max-width: 100%;
    }
}
/****Pagination****/
.kriesi-pagination {
    clear:both;
    float:left;
    padding:10px 0; 
    position:relative;
    font-size:11px;
    line-height:13px;
}
.kriesi-pagination:after {
    content: '';
    display: block;
    clear: both;
}

.kriesi-pagination span, .kriesi-pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding: 14px;
    text-decoration:none;
    width:auto;
    color:#fff !important;
    font-size: 1.4em;
    background: #555;
}

.kriesi-pagination a:hover{
    color:#fff !important;
    background: #3279BB;
}

.kriesi-pagination .current{
    padding: 14px;
    background: #3279BB;
    color:#fff !important;
}
